#sidebar
  @media screen and (max-width: 900px)
    display none
  display block
  overflow scroll
  background color-background
  border-right 1px solid rgb(200, 200, 200)
  height 100%
  width side-width
  line-height 1.8em
  position fixed
  margin 0

  #menu
    border-bottom-style none
    .cell
      height 44px
      line-height 44px
      padding 0 20px
      font-size 15px
      font-weight normal
      border-bottom 1px solid rgb(240, 240, 240)
      &:hover
        background color-link
        a 
          color white
      a
        display block
        color color-font
        &:hover
          text-decoration none
        &:after
          color #ddd
          content '\f054'
          float right
          font-family font-icon
  
  .widget
    background #fff
    margin-bottom 30px
    word-wrap break-word
    border-top 1px solid color-border
    border-bottom 1px solid color-border
    .title
      height 44px
      line-height 44px
      padding 0 20px
      border-bottom 1px solid rgb(240, 240, 240)
      font-size 15px
      font-weight normal

    .entry
      font-size 0.9em
      padding 15px 20px

    ul, ol, dl
      list-style none
      ul, ol, dl
        list-style disc
        margin-left 20px

  .search
    margin-bottom 30px
    input
        background #fff
        font-size 1em
        padding: 10px 15px
        border: 0
        width: 100%
        box-sizing border-box
        &:hover
          border-color color-meta
  .tag
    small
      margin-left 15px
      color color-meta
      &:before
        content '('
      &:after
        content ')'

  .weibo
    background #fff

  .ad
    width: 100%
    tr
      height: 44px
      border: 0
      td
        border: 0
        padding: 0
    .icon
      width: 20%
      padding-left: 10px
      padding-top: 7px
      img
        height: 30px
    .title
      width: 60%
      padding: 0
      a
        color: #1e1e1e
    .title a:hover
      color: #d00
    .button
      width: 20%

  .tagcloud
    .title
      height: 28px
      line-height: 28px
      font-size: 12px
    .entry
      padding-right 5px
    a
      margin-right 10px
      display inline-block
      color rgb(100, 100, 100)
      &:hover
        color color-link

.copyright
  font-size 13px
  text-align center
  color rgb(153, 153, 153)
  text-shadow 0.5px 0.5px 1px rgb(200, 200, 200)
